<p align="center">
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="assets/logo-horizontal-dark.svg">
    <img src="assets/logo-horizontal.svg" alt="{{brand}}" width="420">
  </picture>
</p>

<p style="line-height:36px">
    Hi, and Welcome! I'm <b>{{displayName}}</b>, a passionate {{role}} from <b>{{fromCountry}}</b>,
    currently living in <b>{{city}}</b>{{#weather}}, where the weather is
    <img id="wicon" src="{{{weatherIconUrl}}}" alt="Weather icon" width="28" />
    {{weather}} and the current temperature is {{temperature}}°C{{#windIsOn}}. Also there is wind with {{wind}} km/h speed{{/windIsOn}}{{/weather}}.<br />
    {{#showProfileViews}}<img src="https://komarev.com/ghpvc/?username={{username}}&label=Profile%20views&color=0e75b6&style=flat" alt="{{username}}" />{{/showProfileViews}}
</p>

<h3>Things I do</h3>

{{#bullets}}
- {{icon}} {{{text}}}

{{/bullets}}
{{#showTopLanguages}}
<p>
    <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username={{username}}&show_icons=true&locale=en&layout=compact" alt="{{username}} top languages" />
</p>
{{/showTopLanguages}}
{{#showStats}}
<p>
    <img align="center" src="https://github-readme-stats.vercel.app/api/?username={{username}}&show_icons=true&locale=en" alt="{{username}} stats" />
</p>
{{/showStats}}
{{#badgeGroups}}
<h3>{{{title}}}</h3>

<p>
{{#items}}    <img alt="{{alt}}" src="https://img.shields.io/badge/{{label}}-{{color}}?style=for-the-badge&amp;logo={{logo}}&amp;logoColor={{logoColor}}" />
{{/items}}</p>

{{/badgeGroups}}
<h3>Where to find me</h3>

<p>
{{#socials}}    <a href="{{{url}}}" target="_blank"><img alt="{{name}}" src="https://img.shields.io/badge/{{name}}-{{color}}?style=for-the-badge{{#logo}}&amp;logo={{logo}}{{/logo}}&amp;logoColor={{logoColor}}" /></a>
{{/socials}}</p>

------------

<p align="center">Last refresh: {{refresh_date}}</p>
