<h1>👋 Welcome to my page.</h1>

<p style="line-height:36px">
    Hi, and Welcome! I'm <b>{{displayName}}</b>, a passionate {{role}} from <b>{{fromCountry}}</b>,
    currently living in <b>{{city}}</b>{{#weather}}, where the weather is
    <img id="wicon" src="{{{weatherIconUrl}}}" alt="Weather icon" width="28" />
    {{weather}} and the current temperature is {{temperature}}°C{{#windIsOn}}. Also there is wind with {{wind}} km/h speed{{/windIsOn}}{{/weather}}.<br />
    {{#showProfileViews}}<img src="https://komarev.com/ghpvc/?username={{username}}&label=Profile%20views&color=0e75b6&style=flat" alt="{{username}}" />{{/showProfileViews}}
</p>

<h3>Things I do</h3>

{{#bullets}}
- {{icon}} {{{text}}}

{{/bullets}}

<h3>Things I work with</h3>

<p>
{{#showTopLanguages}}    <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username={{username}}&show_icons=true&locale=en&layout=compact" alt="{{username}} top languages" />
{{/showTopLanguages}}{{#showStats}}    <img align="center" src="https://github-readme-stats.vercel.app/api/?username={{username}}&show_icons=true&locale=en" alt="{{username}} stats" />
{{/showStats}}{{#showStreak}}    <img align="center" src="https://github-readme-streak-stats.herokuapp.com/?user={{username}}" alt="{{username}} streak" />
{{/showStreak}}</p>

<p>
{{#badges}}    <img alt="{{alt}}" src="https://badgen.net/badge/icon/{{label}}?icon={{icon}}&label&color={{color}}" />
{{/badges}}</p>

<h3>Where to find me</h3>

<p>
{{#socials}}    <a href="{{{url}}}" target="_blank"><img alt="{{name}}" src="https://img.shields.io/badge/{{name}}-{{bg}}.svg?&style=for-the-badge&logo={{logo}}&logoColor=white" /></a>
{{/socials}}</p>

------------

<p align="center">Last refresh: {{refresh_date}}</p>
